bin
dist
.idea/
/.direnv/
/.vscode/
/.envrc
.DS_Store
**/.DS_Store
/nix/
/.mcp.json
/test/embeddings/.clj-kondo/
/test/embeddings/.cpcache/
/test/embeddings/.direnv/
/test/embeddings/.envrc
/test/embeddings/.lsp/
